* {
    margin: 0;
    padding: 0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
   

}
header {
    display: flex;
    background-color: rgb(255, 255, 255) ;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6d5d5;
}  
.myntra_home {
    width: 54px;
    height: 40px;
}
.logo_container { 
    margin-left: 4%; 
}
.nav_bar {
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
}
.action_bar {
    margin-right: 4%;
    
}
.nav_bar a1 {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .3px;
    color: #282c3f;
    border-bottom: 3px solid #ffffff;
    padding: 27px 0px;
}
.nav_bar a2 {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .3px;
    color: #282c3f;
    border-bottom: 3px solid #ffffff;
    padding: 27px 0px;
}
.nav_bar a3 {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .3px;
    color: #282c3f;
    border-bottom: 3px solid #ffffff;
    padding: 27px 0px;
}
.nav_bar a4 {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .3px;
    color: #282c3f;
    border-bottom: 3px solid #ffffff;
    padding: 27px 0px;
}
.nav_bar a5 {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .3px;
    color: #282c3f;
    border-bottom: 3px solid #ffffff;
    padding: 27px 0px;
}
.nav_bar a6 {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .3px;
    color: #282c3f;
    border-bottom: 3px solid #ffffff;
    padding: 27px 0px;
}
.nav_bar a1:hover {
    border-bottom: 3px solid #ee59b0;
}
.nav_bar a2:hover {
    border-bottom: 3px solid #87e403;
}
.nav_bar a3:hover {
    border-bottom: 3px solid #2d08be;
}
.nav_bar a4:hover {
    border-bottom: 3px solid #ee59b0;
}
.nav_bar a5:hover {
    border-bottom: 3px solid #87e403;
}
.nav_bar a6:hover {
    border-bottom: 3px solid #2d08be;
}
.nav_bar a6 sup {
    color: #ff3f6c;
    font-size: 10px;
}
.search_bar {
    display: flex;
    width: 30%;
    min-width: 200px;
    height: 40px; 
    align-items: center; 
    
}
.search_icon {
    box-sizing: content-box;
    color: #696e79;
    height: 20px; 
    padding: 10px;
    border-radius: 4px 0 0 4px;
    font-weight: 300;
    background-color: #f5f5f6;
    margin-right: 1px;
}
.search_input {
  
    flex-grow: 1;
    background-color: #f5f5f6;
    color: #696e79;
    height: 40px; 
    border: none;
    border-radius: 0 4px 4px 0;
    padding-left: 10px;
}
.action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}
.action_container {
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.coupon_image{
    width: 100%;
    margin: 20px;
    
}
.banner{
    /* width: 100%; */
    display: flex;
    flex-wrap: nowrap;
    box-sizing: content-box;
    
    
    
}
.banner image{
    height: auto;
    flex-grow: 1;
  max-width: 100%;
    
    
}

    


